@model IEnumerable<e_Library.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Lista of books</h2>

<p>
@Html.ActionLink("Add nem book to e-Library", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReserved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReserved)
            </td>
            <td>
                @Html.ActionLink("Edit book", "Edit", new { id = item.BookId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                @Html.ActionLink("Reservation", "Reservation", new { id = item.BookId }) |
                @Html.ActionLink("Cancel Reservation", "CancelReservation", new { id = item.BookId })
            </td>
        </tr>
    }

</table>
