@model IEnumerable<e_Library.Models.ReservedBook>

@{
    ViewBag.Title = "Index";
}

<h2>List of reservet book</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservedData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
    </tr>
}

</table>
